@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Roboto&family=Work+Sans:wght@300;400&display=swap');
 :root{
  --tipografia:'Roboto', sans-serif;
  --colorHearder: #EAC926;
  --colorCeleste: #1259c3;
  --colorVerde: #39b54a;
  --cuerpoTexto: 12px;
  --tamañoTiturales: 24px;
  --tamañoPrecios: 18px;
  --descuentoDescripcion: 16px

 }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

/* Mobile */
body.home{ 
  font-family:var(--tipografia); 
  font-size: var(--cuerpoTexto);
  background-color: #ebebeb;
}



.home__main__section,  .home__main__section--ofertas{
  margin: 10px 12px;
 
}

.home__main__header{
  background-color:var(--colorHearder);
  padding-bottom: 20px;

}

.home__main__header img{
  width: 49%;
  margin: 20px 5px;
 
}
.home__main__header--search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.home__main__input{
  
  width: 47%;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  
}
.home__main__header--search button{
  background-color: #FFF;
  width: 31px;
  height: 31px;
  padding: 10px;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 36px;
  right: 5px;
  margin: auto;
}


.home__main__header p{
  margin-top: 20px;
  text-align: center;
}
.home__main__header nav{
  margin-top: 15px;
  display: none;

}
.home__main__header nav li a{
  color: #000;
  text-decoration: none; 
}

.burger-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  
} 
.burger-menu i{
  color: #fff;
  border: 1px solid var(--colorCeleste);
  padding: 20px 10px;
  background-color: var(--colorCeleste);
  border-radius: 5px;

}
.home__main--banner img{
  width: 100%;
 
}

.home__main__section, .home__main__section--ofertas{
  padding: 20px 0;
  text-align: center;
  color: #666;
}
article img {
  width: 100%;
}
.section--title{
  font-size: var(--tamañoTiturales);
  
}


.home__main__section__article--detalles{
  display: flex;
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding-bottom: 15px;
  flex-wrap: wrap;
  
}

.home__main__section__article--detalles i{
  display: block;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid var(--colorVerde);
  border-radius: 50%;
  color: var(--colorVerde);
  padding: 5px;
  width: 30px;
  height: 30px;
  
  
}

.home__main__section__article--detalles p{
  font-size:var(--tamañoPrecios);

}

.home__main__section__article--detalles span{
  width:40%;
  font-size: var(--descuentoDescripcion);
  color: var(--colorVerde);
  
}
.home__main__section__article--detalles h4{
  font-size: var(--descuentoDescripcion);
  height: 0;
  font-weight: 300;
  overflow:hidden;
  transition: all 3s;
  width: 100%;
  
}
.home__footer{
  margin: 5px;
  color: #666;
}
.home__footer__section{
  text-align: center;
  background-color: #fff; 
  padding: 30px;
}
.home__footer__section h4{
  font-size: var(--descuentoDescripcion);
}

.home__footer__section i{
  font-size: 2rem;
  color:  var(--colorCeleste);
  margin-bottom: 10px;
}
.icon-left {
  position: relative;
  left: 259px;
  bottom: 22px;
}

.register__main, .login__main{
  background-color: #c0c0c080;
 
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.form__box, .input__fecha{
  margin-bottom: 20px;
  width: 90%;
}
.form__box--position{
  position: relative;
}
.form__box--position span{
  position: absolute;
  right: 10px;
  top: 17px;
  cursor: pointer;
  color: var(--colorGris);
}
.form__label{
  margin-bottom: 20px;
}
.form__input, .input__fecha{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  margin-top: 10px;
}
.perfil__label label{
  margin: 28px;
}
.interses__label{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.form__msg-error{
  color: red;
  margin-left: 5px;
}
.box__end{
   display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.button{
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 45%;
  padding:  10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--colorCeleste);
  
  transition: all 3s;
  
}
.button a {
  text-decoration: none;
  color: #fff;

}
.button:hover{
  background-color: #0022AA;
}

  
@media(min-width: 375px){

  .icon-left{
    left:300px;
  }
}


@media(min-width: 425px){

  .icon-left{
    left:353px;
  }
}




/* Tablet */

@media(min-width: 761px) {

.home__main__header nav{
  display: block;
  margin-left: 10px;
}
.home__main__header img{
  width: 200px;
  margin: 20px 18px;
  
}
.home__main__header p{
  margin: 20px;
}
.home__main__header--search{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}
.home__main__input{
  width: 250px;
  
}
.home__main__header--search button{
  top: 34px;
  bottom: 36px;
  left: 165px; 
}
.home__main__header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}
.home__main__header__nav  li {
  padding:  0 10px;
  display: inline-block;
  list-style: none;
}


.burger-menu{
  display: none;
}

.home__main__section__article, .home__main__section--ofertas {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.home__main__section--ofertas article, .home__main__section__article article{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 18px ;
  border-right: 1px solid #ebebeb;
  transition: all 2s;
 


}
.home__main__section--ofertas article:hover, .home__main__section__article article:hover{
  box-shadow:  0px 0px 15px rgb(100, 100, 100);
}



.home__main__section__article img {
  width: 100%;
}

.home__main__section--detalles {
  border-top: 1px solid #ebebeb;
  margin: 15px;
}
.home__main__section__article--detalles {
  display: flex;
  height: 50px;
  cursor: default;
  
}
  


.home__main__section__article--detalles:hover h4{
  height: 20px;
}


.home__footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 5px;
  color: #666;

}
.home__footer__section{
  width: 33%;
  display: flex;
  flex-direction: column;
}



.icon-left {
 
  left: 280px;
  
}
}



 /* Desktop */

@media(min-width: 1024px) {
  .home__main__header img{
    width: 280px;
    margin: 20px 30px;  
  }
  .home__main__input{
    margin: 20px 40px;
  }
  
  .home__main__header--search button{
    top: 34px;
    bottom: 36px;
    left: 200px; 
  }


  .home__main__section__article, .home__main__section--ofertas {
    margin: 10px;
    display: flex;
    
    
  }

  .home__main__section__article article {
    width: 23%;
    margin: 0 8px;
}

.icon-left {
  left: 180px;
  bottom: 18px;
  transition: all 3s;
}

.icon-left:hover {
  transform: rotate(-360deg);
 
 
  
}

}


  


 /* Desktop */

 @media(min-width: 1366px) {

.home__main__header--search button {
  right: 340px;
  
  
}

.icon-left {
  left: 240px;
  
}

 }





 